@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #215466;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
}
html{
    min-height: 100vh;
}

.page-title{
    color: white;
    font-family: 'Knewave', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 1.3em;
}

.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info{
    color: white;
    font-size: 1em; 
    font-family: 'Knewave', cursive;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 20px;
    justify-content: center;
}


.card{
    background-color: #132028;    
    height: 100px;
    width: 80px;
    position: relative;
    box-shadow: 1px 1px 10px 1px #132028;;
    transform: scale(1); 
    cursor: pointer;       
   }

.card:active {
transform: scale(0.97);
transition: transform .0.1s; 
    
}
 
.card img{    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6px;
    margin: auto auto;
    height: 70px;
    width: 70px;    
    }

.menu-jogo ul{
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
    
    
}

.menu-jogo li{
    text-decoration: none;
    color: white;
    font-family: 'Knewave', cursive;
   
}

.menu-jogo a:hover{
    color: #132028;
}

.logo{
    margin-top: 10px;
    text-align: center;
    
}

.logo img{
    width: 100px;
}

#nroCartas{
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    outline: none;
    background-color: #215466;
    width: 60px;
    font-family: 'Knewave', cursive;   
    padding: 0 10px;
    margin-left: 5px;
}
